

#
# As of version 0.7.53, nginx will use a compiled-in default error log location until it has read the config file:
#	[alert]: could not open error log file: open() "/var/log/nginx/error.log" failed (13: Permission denied)
#

user daemon daemon;
error_log '/opt/metasploit/apps/pro/nginx/logs/error.log';

worker_processes 4;

pid '/opt/metasploit/apps/pro/nginx/temp/nginx.pid';
lock_file '/opt/metasploit/apps/pro/nginx/temp/nginx.lck';

events {
	worker_connections 1024;
}

http {
	error_log '/opt/metasploit/apps/pro/nginx/logs/error.log';
	access_log '/opt/metasploit/apps/pro/nginx/logs/access.log';

	# Mime types
	types {
    text/html                             html htm shtml;
    text/css                              css;
    text/xml                              xml;
    image/gif                             gif;
    image/jpeg                            jpeg jpg;
    application/x-javascript              js;
    application/atom+xml                  atom;
    application/rss+xml                   rss;

    text/mathml                           mml;
    text/plain                            txt;
    text/vnd.sun.j2me.app-descriptor      jad;
    text/vnd.wap.wml                      wml;
    text/x-component                      htc;

    image/png                             png;
    image/tiff                            tif tiff;
    image/vnd.wap.wbmp                    wbmp;
    image/x-icon                          ico;
    image/x-jng                           jng;
    image/x-ms-bmp                        bmp;
    image/svg+xml                         svg;

    application/java-archive              jar war ear;
    application/mac-binhex40              hqx;
    application/msword                    doc;
    application/pdf                       pdf;
    application/postscript                ps eps ai;
    application/rtf                       rtf;
    application/vnd.ms-excel              xls;
    application/vnd.ms-powerpoint         ppt;
    application/vnd.wap.wmlc              wmlc;
    application/vnd.google-earth.kml+xml  kml;
    application/vnd.google-earth.kmz      kmz;
    application/x-7z-compressed           7z;
    application/x-cocoa                   cco;
    application/x-java-archive-diff       jardiff;
    application/x-java-jnlp-file          jnlp;
    application/x-makeself                run;
    application/x-perl                    pl pm;
    application/x-pilot                   prc pdb;
    application/x-rar-compressed          rar;
    application/x-redhat-package-manager  rpm;
    application/x-sea                     sea;
    application/x-shockwave-flash         swf;
    application/x-stuffit                 sit;
    application/x-tcl                     tcl tk;
    application/x-x509-ca-cert            der pem crt;
    application/x-xpinstall               xpi;
    application/xhtml+xml                 xhtml;
    application/zip                       zip;

    application/octet-stream              bin exe dll;
    application/octet-stream              deb;
    application/octet-stream              dmg;
    application/octet-stream              eot;
    application/octet-stream              iso img;
    application/octet-stream              msi msp msm;

    audio/midi                            mid midi kar;
    audio/mpeg                            mp3;
    audio/ogg                             ogg;
    audio/x-realaudio                     ra;

    video/3gpp                            3gpp 3gp;
    video/mp4                             mp4;
    video/mpeg                            mpeg mpg;
    video/quicktime                       mov;
    video/x-flv                           flv;
    video/x-mng                           mng;
    video/x-ms-asf                        asx asf;
    video/x-ms-wmv                        wmv;
    video/x-msvideo                       avi;
	}

	default_type application/octet-stream;

	sendfile on;

	upstream pro {
		server 127.0.0.1:3001;
	}

	upstream rpc {
		server 127.0.0.1:50505;
	}

	server {
		listen				0.0.0.0:3790;

# IPv6
#		listen				[::]:3790;

		server_name			_;
		ssl					on;
		ssl_certificate		'/opt/metasploit/apps/pro/nginx/cert/server.crt';
		ssl_certificate_key	'/opt/metasploit/apps/pro/nginx/cert/server.key';
		ssl_session_timeout	10m;
		ssl_protocols		TLSv1 TLSv1.1 TLSv1.2;
		ssl_ciphers			EECDH+AES128:RSA+AES128:EECDH+AES256:RSA+AES256:EECDH+3DES:RSA+3DES:!MD5;
		ssl_prefer_server_ciphers	on;

		server_tokens off;

		root   '/opt/metasploit/apps/pro/ui/public';

		error_page 404 403 /404.html;
		error_page 500 /500.html;
		error_page 502 503 504 /502.html;
		error_page 422 /422.html;
		error_page 497 =301 https://$host:3790$request_uri;

		client_max_body_size	1024M;

		client_body_temp_path '/opt/metasploit/apps/pro/nginx/temp';
		proxy_temp_path '/opt/metasploit/apps/pro/nginx/temp';
		fastcgi_temp_path '/opt/metasploit/apps/pro/nginx/temp';
		uwsgi_temp_path '/opt/metasploit/apps/pro/nginx/temp';
		scgi_temp_path '/opt/metasploit/apps/pro/nginx/temp';

		location ~ /manifest\.yml {
			deny all;
		}

		location ~* ^/assets/ {
			# Per RFC2616 - 1 year maximum expiry
			# http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html
			expires 1y;
			add_header Cache-Control public;

			# Some browsers still send conditional-GET requests if there's a
			# Last-Modified header or an ETag header even if they haven't
			# reached the expiry date sent in the Expires header.
			add_header Last-Modified '';
			add_header ETag '';
			break;
		}

		location /api/ {
			access_log '/opt/metasploit/apps/pro/nginx/logs/rpc.log';
			error_log '/opt/metasploit/apps/pro/nginx/logs/rpc.log';

			proxy_set_header	X-FORWARDED_PROTO	https;
			proxy_set_header	X-Forwarded-For		$remote_addr;
			proxy_set_header	X-Forwarded-Server	$http_host;

			proxy_set_header	Host	$http_host;
			proxy_redirect		off;
			proxy_max_temp_file_size	0;
			keepalive_timeout			65;
			proxy_read_timeout			300;
			proxy_pass http://rpc;
			break;
		}

		location / {

			access_log '/opt/metasploit/apps/pro/nginx/logs/access.log';
			error_log '/opt/metasploit/apps/pro/nginx/logs/error.log';

			proxy_set_header	X-FORWARDED_PROTO	https;
			proxy_set_header	X-Forwarded-For		$remote_addr;
			proxy_set_header	X-Forwarded-Server	$http_host;

			proxy_set_header	Host	$http_host;
			proxy_redirect		off;

			proxy_max_temp_file_size	0;
			keepalive_timeout			65;

			proxy_read_timeout			300;

			# Only pass through if not static
			if (!-f $request_filename) {
				proxy_pass http://pro;
				break;
			}
		}
	}
}
